<!DOCTYPE html>
<html>
<head>
  <title>Flix</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
<%= content_tag(:p, flash[:notice], id: "flash_id") %>
<% end %>


<%= render "layouts/header" %>


<%= render "layouts/aside" %>


<%= yield %>

<%= render "layouts/footer" %>

</body>
</html>
